@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

#root {
  /*max-width: 1280px;*/
  overflow: hidden;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  /*margin: 0 auto;*/
  /*padding: 2rem;*/
  /*text-align: center;*/
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #707070;
}

.app-container {
  background-color: #242424;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: stretch;
}

.test123 {
  border-width: 0;
  border-bottom-width: 2px;
  border-top-width: 2px;
  border-style: solid;
  border-color: #efeff4;
  height: 6%;
  min-height: 50px;
  min-width: 500px;
}

.top-navigation-container {
  height: 6%;
  min-height: 50px;
  max-width: 600px;
  min-width: 500px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.top-navigation-container .bi {
  font-size: 27px;
}

.top-navigation-container .line {
  width: 1px;
  height: 30px;
  background-color: #e2e2e2;
  border-radius: 10px;
}

.top-navigation-container .title {
  color: #294255;
}

.topnav {
  width: 350px;
  overflow: hidden;
  display: flex;
  /*justify-content: space-between;*/
  align-items: center;
  gap: 20px;
}

/* Style the links inside the navigation bar */
.topnav button {
  color: black;
  background-color: #f8f9fd;
  font-size: 17px;
  padding: 2px 5px;
  border-radius: 6px;
  border-style: hidden;
  transition: background-color 0.3s;
}

.topnav button:focus {
  outline: none;
}

/* Change the color of links on hover */
.topnav button:hover {
  background-color: rgba(211, 211, 211, 0.31);
  color: black;
  border-style: hidden;
}

/* Add a color to the active/current link */
.topnav button.active {
  background-color: #e2e2e2;
}

.topnav button.add {
  background-color: #04AA6D;
  color: white;
}

.topnav button.add:hover {
  background-color: #0dba7a;
  color: white;
}

* {
  box-sizing: border-box;
}

.partner-search-bar {
  margin: 11px 10px;
  display: flex;
}

.partner-search-bar input[type=text] {
  width: 100%;
  background: #e2e2e2;
  border: none;
  border-radius: 2px;
  padding: 5px 8px;
  cursor: pointer;
  outline: inherit;
}

.example {
  margin: 15px 25px;
  display: flex;
}

.example input[type=text] {
  width: 100%;
  /*max-width: 700px;*/
  background: #e2e2e2;
  border: none;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  padding: 5px 8px;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.example button {
  width: 30px;
  background: #e2e2e2;
  border: none;
  /*border-radius: 3px;*/
  border-radius: 0 3px 3px 0;
  padding: 5px 8px;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.success-message {
  margin: -10px 25px;
  font-size: 13px;
  color: black;
}

/*.example button:hover {*/
/*  background: #0b7dda;*/
/*}*/

/*.example::after {*/
/*  content: "";*/
/*  clear: both;*/
/*  display: table;*/
/*}*/

.friend-container {
  background-color: #f8f9fd;
  border-width: 0;
  border-left-width: 2px;
  border-right-width: 2px;
  border-style: solid;
  border-color: #efeff4;
  width: 100%;
  display: flex;
  flex-direction: column;
  min-width: 350px;
  overflow-x: hidden;
  overflow-y: auto;
  scroll-behavior: smooth;
}

.friend-item {
  display: flex;
  /*max-width: 725px;*/
  border-top-style: solid;
  border-top-width: 1px;
  border-color: rgba(139, 139, 139, 0.31);
  height: 60px;
  margin: 0 25px;
}

.friend-item .info {
  display: flex;
  align-items: center;
}

.friend-item img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.friend-item .credentials {
  margin-left: 10px;
  font-size: 13px;
  color: #294255;
}

.friend-item .credentials .name {
  margin: 0 0 -4px;
}

.friend-item .credentials .userID {
  margin: 0;
}

.friend-item .buttons {
  margin-left: auto;
  align-self: center;
}

.friend-item .buttons button {
  border-style: hidden;
  transition: background-color 0.3s;
}

.friend-item .buttons button:focus {
  outline: 0;
}

.friend-item .chat-button {
  background-color: rgba(211, 211, 211, 0.31);
}

.friend-item .chat-button:hover {
  background-color: rgba(202, 202, 202, 0.67);
}

.friend-item .delete-button:hover {
  background-color: rgb(240, 42, 42);
}

.friend-item .delete-button {
  background-color: #ff4545;
  color: white;
  margin-left: 10px;
}

.friend-item .accept-button:hover {
  background-color: rgb(21, 144, 89);
}

.friend-item .accept-button {
  background-color: #1ba769;
  color: white;
  margin-left: 10px;
}

.friend-requests-header {
  color: black;
  margin: 0 25px 15px;
}

.empty-friend-message {
  margin: -12px 25px 5px;
  font-size: 13px;
}

.sidebar-container {
  background-color: white;
  font-weight: 500;
  height: 100%;
  flex: 0 0 200px;
  display: flex;
  flex-direction: column;
}

.partner-search-container {
  border-width: 2px;
  border-left-width: 0;
  border-right-width: 0;
  border-style: solid;
  border-color: #efeff4;
  min-height: 50px;
  height: 6%;
  width: 100%;
  display: flex;
}

.toggle-window-button {
  margin: 10px;
  min-height: 50px;
  height: 6%;
  width: 90%;
  display: flex;
}

.toggle-window-button .bi {
  font-size: 20px;
  color: black;
  opacity: 0.8;
  align-content: center;
  text-align: center;
  margin-left: -5px;
}

.toggle-window-button .text {
  opacity: 0.8;
}

.toggle-window-button .input {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  outline: none;
  border: none;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
  transition: background-color 0.3s;
  background-color: rgba(211, 211, 211, 0.45);
}

.toggle-window-button .input:hover {
  background-color: #e4e4e4;
}

.toggle-window-button .input:active {
  background-color: #afafaf;
}

.direct-messages-header {
  margin-left: 12px;
  margin-bottom: 3px;
  margin-top: 12px;
  font-size: 11px;
}

.side-bar {
  overflow: auto;
  height: 92%;
  width: 200px;
}

.direct-messages-header {
  color: #294255;
}

.empty-friend-message {
  color: black;
}

.friend-requests-header {
  color: #294255;
}

.partner-tab {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  height: 70px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  border-style: solid;
  border-width: 0;
  border-bottom-width: 1px;
  border-color: rgba(139, 139, 139, 0.31);
  border-radius: 0;
  transition: opacity ease 0.3s;
}

.partner-tab:hover {
  border-color: #efeff4;
  opacity: 0.8;
}

.partner-tab:focus {
    outline: none;
}

.partner-tab .photo {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

.partner-tab .info-container {
  display: inline-block;
  text-align: start;
  width: 100px;
  margin-left: 8px;
}

.partner-tab .info-container .name {
  display: block;
  font-size: 12px;
}

.partner-tab .info-container .last-message {
  font-size: 11px;
  font-weight: 400;
}

.partner-tab .unread-icon-container {
  position: relative;
  color: rgba(189, 189, 189, 0.31);
}

.partner-tab .bi {
  position: relative;
  color: #b3b3b3;
}

.partner-tab .unread-count {
  position: absolute;
  top: -5px;
  left: 11px;
  font-size: 9px;
  color: white;
  min-width: 9px;
  height: 10px;
  padding-right: 1px;
  padding-left: 1px;
  border-radius: 2px;
  background-color: #e22727;
}

.chatWindow-container {
  background-color: #f8f9fd;
  border-width: 0;
  border-left-width: 2px;
  border-right-width: 2px;
  border-style: solid;
  border-color: #efeff4;
  width: 100%;
  display: flex;
  flex-direction: column;
  min-width: 350px;
}

.recipient-bar {
  border-width: 0;
  border-bottom-width: 2px;
  border-top-width: 2px;
  border-style: solid;
  font-weight: 500;
  font-size: 15px;
  border-color: #efeff4;
  padding-left: 18px;
  height: 6%;
  min-height: 50px;
  display: flex;
  align-items: center;
  color: #294255;
  background-color: white;
}

.chat-window {
  height: 84%;
  display: flex;
  flex-direction: column;
  overflow: auto;
  background: #ededed;
}

.chat-box-received {
  display: flex;
  max-width: 75%;
  margin: 5px;
  border-radius: 8px;
  padding: 10px;
  color: #294255;
}

.chat-box-received .photo-container {
  margin-right: 15px;
}

.chat-box-received .photo {
  width: 48px;
  border-radius: 50%;
}

.chat-box-received .message-container {
  display: flex;
  margin-top: 24px;
  flex-direction: column;
  border-radius: 4px;
}

.chat-box-received .message-container .text {
  background-color: white;
  border-radius: 4px;
  padding: 10px;
  padding-top: 6px;
  padding-bottom: 6px;
  margin-bottom: 5px;
}

.chat-box-received .message-container .date {
  font-size: 10px;
  align-self: flex-start;
}

.chat-box-sent .message-container .date {
  color: black;
}


.chat-box-sent {
  display: flex;
  align-self: flex-end;
  max-width: 75%;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: -20px;
}

.chat-box-sent .message-container {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  border-radius: 4px;
}

.chat-box-sent .message-container .text {
  color: #ffffff;
  background-image: linear-gradient(310deg, #a663ea, #17c1e8);
  border-radius: 4px;
  padding: 10px;
  padding-top: 6px;
  padding-bottom: 6px;
  margin-bottom: 5px;
}

.chat-box-sent .message-container .date {
  font-size: 10px;
  margin-top: -3px;
  align-self: flex-end;
}

.message-bar {
  border-top-style: solid;
  border-color: #efeff4;
  border-width: 2px;
  height: 70px;
  width: 100%;
  display: flex;
}

.message-bar .text-input {
  width: 100%;
  border:  none;
  background-color: white;
  font-family: "Roboto", sans-serif;
  opacity: 0.6;
  outline: none;
  align-content: center;
  margin-left: 18px;
}

.message-bar .send-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #159059;
  transition: background-color 0.3s ease;
  margin: 1%;
  border-radius: 50%;
  width: 10px;
  text-align: center;
  align-self: center;
  outline: none;
}

.message-bar .send-button:hover {
  background-color: #157347;
}

.message-bar .send-button:active {
  opacity: 0.8;
}

.message-bar .send-button .bi {
  color: #f8f9fd;
}

.personal-info-container {
  width: 350px;
  flex-grow: 0;
  flex-shrink: 0;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  scroll-behavior: auto;
}

.personal-info-container .photo {
  width: 100px;
  border-radius: 50%;
  margin-top: 50px;
}

.personal-info-container .credentials {
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.personal-info-container .credentials .name {
  margin-top: 8px;
  margin-bottom: -3px;
}

.personal-info-container .credentials .userID {
  margin: 0;
}

.personal-info-container .member-since-container {
  color: black;
  margin-top: 8px;
  background-color: rgba(189, 189, 189, 0.31);
  border-radius: 8px;
  width: 90%;
  padding: 8px;
}

.personal-info-container .member-since-container .header {
  font-size: 13px;
  padding-bottom: 4px;
  margin: 0;
}

.personal-info-container .member-since-container .date {
  font-size: 13px;
  margin: 0;
}

.personal-info-container .logout-button-container {
  margin-top: auto;
  margin-bottom: 10px;
  width: 90%;
}

.personal-info-container .logout-button {
  background-color: #ee3939;
  color: #f2f2f2;
  float: right;
  outline: none;
}

.personal-info-container .logout-button:hover {
  background-color: #e23636;
}

.personal-info-container .logout-button:active {
  background-color: #c32e2e;
}

.options-container {
  color: black;
  margin-top: 8px;
  background-color: rgba(189, 189, 189, 0.31);
  border-radius: 8px;
  width: 90%;
}

.options-container .header {
  font-size: 13px;
  padding: 6px;
  padding-bottom: 4px;
  margin: 0;
}

.options-container .text {
  margin: 0;
  padding: 6px;
  font-size: 13px;
}

.options-container .username {
  display: flex;
  align-items: center;
  padding: 6px;
  padding-bottom: 2px;
}

.options-container .username .bi,
.options-container .delete-account .bi {
  margin-left: auto;
  background: none;
  border: none;
  padding: 0;
  color: inherit;
  font: inherit;
  text-align: inherit;
  text-decoration: none;
  cursor: pointer;
  outline: none;
}

.options-container .edit-username {
  display: flex;
  padding: 6px;
  padding-top: 0;
}

.options-container .password-prompt {
  display: flex;
  padding: 6px;
  padding-top: 0px;
  padding-bottom: 8px;
}

.options-container .input {
  border-radius: 2px;
  border: none;
  margin-right: 5px;
  outline: none;
  padding: 6px;
}

.options-container .password-prompt .submit {
  background-color: red;
  width: 60px;
}

.options-container .password-prompt .submit:hover {
  background-color: #eb0404;
}

.options-container .password-prompt .submit:active {
  background-color: #c70606;
}

.options-container .submit {
  background-color: #2eaf5c;
  font-size: 12px;
  color: #eeeeee;
  padding: 6px;
  width: 40px;
  border-radius: 3px;
  outline: none;
}

.options-container .submit:hover {
  background-color: #2aa052;
}

.options-container .submit:active {
  background-color: #218040;
}

.options-container .delete-account {
  display: flex;
  align-items: center;
  padding: 6px;
  padding-top: 2px;
}

.options-container .username .text {
  margin: 0;
  padding: 0;
}

.options-container .delete-account .text {
  margin: 0;
  padding: 0;
}

@media (max-width: 1000px) {
  .personal-info-container {
    display: none;
  }
}

.login-flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-image: url('src/assets/freepik purple.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 350px;
  border-radius: 15px;
  background: linear-gradient(to bottom, #f0f0f0, #ffffff);
  z-index: 2;
}

.login-container h2 {
  color: black;
}

form {
  display: flex;
  flex-direction: column;;
  justify-content: space-between;
  height: 120px;
  width: 250px;
}

form .input-container {
  display: flex;
  width: 80%;
  justify-content: center;
  align-self: center;
}

form .input-container .icon-container {
  display: flex;
  align-items: center;
  width: 12%;
  height: 100%;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  background: #dad7f7;
  color: black;
  padding-left: 5px;
}

form .input-container i {
  font-size: 19px;
  height: 28px;
}

form .input-container input {
  border: none;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  width: 90%;
  outline: none;
  background: #dad7f7;
  box-shadow: none;
  padding: 6px;
  margin: 0;
  font: inherit;
  font-size: 14px;
  color: black;
}

.login-container .login-button {
  background: linear-gradient(135deg, #6e60f8, #5348bd);
  width: 90px;
  align-self: center;
  border: none;
  border-radius: 10px;
  padding: 8px;
  margin: 0;
  outline: none;
  box-shadow: 2px 5px 6px rgba(0, 0, 0, 0.1),
  0 1px 3px rgba(0, 0, 0, 0.08);
  color: inherit;
  font: inherit;
  font-size: 12px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-container .login-button:hover {
  background: linear-gradient(135deg, #5a4fdc, #3f2b9a);
  box-shadow: 2px 6px 8px rgba(0, 0, 0, 0.15),
  0 2px 4px rgba(0, 0, 0, 0.1);
}

.login-container .login-button:active {
  background: linear-gradient(135deg, #4a3eaf, #2f1e6d);
  box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.2);
  transform: translateY(2px);
}

.login-flex-container .freepik-attribution {
  align-self: flex-end;
  justify-self: flex-end;
  position: absolute;
  right: 15px;
  font-size: 8px;
  color: rgba(255, 255, 255, 0.33);
}

.register-paragraph {
  color: black;
  font-size: 14px;
}

.register-paragraph span {
  color: #0000EE;
  cursor: pointer;
}

.register-flex-container {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  background-image: url('src/assets/freepik purple.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow-y: scroll;
}

.register-header {
  color: black;
}

.register-container {
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  width: 400px;
  height: 650px;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to bottom, #f0f0f0, #ffffff);
}

.register-container form {
  display: flex;
  width: 300px;
  height: 400px;
  color: black;
}

.register-container label {
  /*margin-bottom: -20px;*/
  font-size: 14px;
}

.register-container form input {
  border: none;
  border-radius: 6px;
  outline: none;
  background: #dad7f7;
  box-shadow: none;
  padding: 6px;
  /*margin: 0;*/
  font: inherit;
  font-size: 14px;
  color: black;
  width: 100%;
}

.register-container .input-container {
  display: block;
  width: 100%;
}

.register-container form button {
  width: inherit;
  align-self: center;
  border: none;
  border-radius: 8px;
  padding: 8px;
  margin-top: 15px;
  /*margin: 0;*/
  outline: none;
  box-shadow: 2px 5px 6px rgba(0, 0, 0, 0.1),
  0 1px 3px rgba(0, 0, 0, 0.08);
  color: whitesmoke;
  font: inherit;
  font-size: 12px;
  /*transition: background-color 0.3s ease;*/
}

.register-container form button.disabled {
  background: rgba(128, 128, 128, 0.58);
  cursor: initial;
}

.register-container form button.enabled {
  background: linear-gradient(135deg, #6e60f8, #5348bd);
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.register-container form button.enabled:hover {
  background: linear-gradient(135deg, #5a4fdc, #3f2b9a);
  box-shadow: 2px 6px 8px rgba(0, 0, 0, 0.15),
  0 2px 4px rgba(0, 0, 0, 0.1);
}

.register-container form button.enabled:active {
  background: linear-gradient(135deg, #4a3eaf, #2f1e6d);
  box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.2);
  transform: translateY(2px);
}

.register-container .validation-message {
  color: red;
  font-size: 12px;
}

.login-paragraph {
  color: #0000EE;
  cursor: pointer;
  font-size: 14px;
  width: 300px;
}