@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

#root {
  /*max-width: 1280px;*/
  overflow: hidden;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  /*margin: 0 auto;*/
  /*padding: 2rem;*/
  /*text-align: center;*/
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #707070;
}

.app-container {
  background-color: #0c111d;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: stretch;
}

.test123 {
  border-width: 0;
  border-bottom-width: 1px;
  border-top-width: 1px;
  border-style: solid;
  border-color: #171d27;
  height: 6%;
  min-height: 50px;
  min-width: 500px;
}

.top-navigation-container {
  height: 6%;
  min-height: 50px;
  max-width: 600px;
  min-width: 500px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.top-navigation-container .bi {
  font-size: 27px;
}

.top-navigation-container .line {
  width: 0.5px;
  height: 30px;
  background-color: #171d27;
  border-radius: 10px;
}

.top-navigation-container .title {
  color: #fcfcfc;
  font-size: 17px;
}

.topnav {
  width: 350px;
  overflow: hidden;
  display: flex;
  /*justify-content: space-between;*/
  align-items: center;
  gap: 20px;
}

/* Style the links inside the navigation bar */
.topnav button {
  color: #a5a5ab;
  background-color: inherit;
  font-size: 15px;
  padding: 4px 9px;
  border: none;
  border-radius: 6px;
  /*border-style: solid;*/
  /*border-width: 2px;*/
  /*border-color: #262a34;*/
  transition: background-color 0.3s;
}

.topnav button:focus {
  outline: none;
  background-color: #121a2d;
}

/* Change the color of links on hover */
.topnav button:hover {
  background-color: #121a2d;
  border-color: #262a34;
}

/* Add a color to the active/current link */
.topnav button.active {
  background-color: #172037;
}

.topnav button.add {
  background-color: #5542f6;
  color: white;
}

/*.topnav button.add:active {*/
/*  background-color: #121a2d;*/
/*}*/

* {
  box-sizing: border-box;
}

.partner-search-bar {
  margin: 11px 10px;
  display: flex;
}

.partner-search-bar input[type=text] {
  width: 100%;
  background: inherit;
  border-style: solid;
  border-color: #262a34;
  border-width: 2px;
  /*border-left-width: 0;*/
  border-radius: 4px;
  padding: 5px 8px;
  cursor: pointer;
  outline: inherit;
}

/*.partner-search-bar .bi {*/
/*  color: #72767c;*/
/*  border-style: solid;*/
/*  border-width: 1px;*/
/*  border-color: #262a34;*/
/*  border-right-width: 0;*/
/*  font-size: 10px;*/
/*  align-self: c*/
/*}*/

.partner-search-bar input[type=text]::placeholder {
  color: #72767c;
}

.partner-search-bar input {
  color: #a5a5ab;
}

.example {
  margin: 15px 25px;
  display: flex;
}

.example input[type=text] {
  width: 100%;
  /*max-width: 700px;*/
  background: inherit;
  border-style: solid;
  border-width: 2px;
  border-right-width: 0;
  border-color: #262a34;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  padding: 5px 8px;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.example input {
  color: #a5a5ab;
}

.example input[type=text]::placeholder{
  color: #72767c;
}

.example button {
  width: 30px;
  background: inherit;
  border-style: solid;
  border-width: 2px;
  border-left-width: 0;
  border-color: #262a34;
  /*border-radius: 3px;*/
  border-radius: 0 3px 3px 0;
  padding: 0px 5px;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  color: #72767c;
}

.success-message {
  margin: -10px 25px;
  font-size: 13px;
  color: #a5a5ab;
}

/*.example button:hover {*/
/*  background: #0b7dda;*/
/*}*/

/*.example::after {*/
/*  content: "";*/
/*  clear: both;*/
/*  display: table;*/
/*}*/

.friend-container {
  /*background-color: #f8f9fd;*/
  border-width: 0;
  border-left-width: 1px;
  border-right-width: 1px;
  border-style: solid;
  border-color: #171d27;
  width: 100%;
  display: flex;
  flex-direction: column;
  min-width: 350px;
  overflow-x: hidden;
  overflow-y: auto;
  scroll-behavior: smooth;
}

.friend-item {
  display: flex;
  /*max-width: 725px;*/
  position: relative;
  border-top-style: solid;
  border-top-width: 1px;
  border-color: #171d27;
  height: 60px;
  margin: 0 25px;
  padding-left: 4px;
  padding-right: 4px;
}

.friend-item:hover {
  background-color: rgba(38, 48, 64, 0.19);
}

.friend-item .clickable-area {
  display: flex;
  position: absolute;
  width: 85%;
  height: 100%;
  background-color: rgba(23, 29, 39, 0);
  /*z-index: -1;*/
}

.friend-item .photo {
  object-fit: cover;
}

.friend-item .info {
  display: flex;
  align-items: center;
}

.friend-item img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.friend-item .credentials {
  margin-left: 10px;
  font-size: 13px;
  /*color: #294255;*/
}

.friend-item .credentials .name {
  margin: 0 0 -4px;
  color: #fcfcfc;
}

.friend-item .credentials .userID {
  margin: 0;
  color: #95969d;
}

.friend-item .buttons {
  margin-left: auto;
  align-self: center;
}

.friend-item .buttons button {
  display: inline-flex;
  justify-content: center;
  border-style: solid;
  border-width: 1px;
  border-color: #393e4c;
  width: 10px;
  transition: background-color 0.3s;
}

.friend-item .buttons button:focus {
  outline: 0;
}

.friend-item .chat-button {
  /*background-color: inherit;*/
  /*color: #a5a5ab;*/
  background-color: #5542f6;
  color: white;
}

.friend-item .chat-button:hover {
  /*background-color: #121a2d;*/
  background-color: #5e4cfe;
}

.friend-item .delete-button:hover {
  background-color: #121a2d;
}

.friend-item .delete-button {
  background-color: inherit;
  color: #a5a5ab;
  margin-left: 10px;
}

.friend-item .accept-button:hover {
  background-color: #121a2d;
}

.friend-item .accept-button {
  /*background-color: inherit;*/
  /*color: #a5a5ab;*/
  background-color: #5542f6;
  color: white;
  margin-left: 10px;
}

.friend-requests-header {
  color: black;
  margin: 0 25px 15px;
}

.empty-friend-message {
  margin: -12px 25px 5px;
  font-size: 13px;
}

.sidebar-container {
  /*background-color: white;*/
  font-weight: 500;
  height: 100%;
  flex: 0 0 200px;
  display: flex;
  flex-direction: column;
}

.partner-search-container {
  border-width: 1px;
  border-left-width: 0;
  border-right-width: 0;
  border-style: solid;
  border-color: #171d27;
  min-height: 50px;
  height: 6%;
  width: 100%;
  display: flex;
}

.toggle-window-button {
  margin: 10px;
  min-height: 50px;
  height: 6%;
  width: 90%;
  display: flex;
}

.toggle-window-button .bi {
  font-size: 20px;
  color: #a5a5ab;
  opacity: 0.8;
  align-content: center;
  text-align: center;
  margin-left: -5px;
}

.toggle-window-button .text {
  opacity: 0.8;
  color: #b0b0b6;
}

.toggle-window-button .input {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  outline: none;
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
  border-color: #262a34;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
  transition: background-color 0.3s;
  background-color: inherit;
}

.toggle-window-button .input:hover {
  background-color: #121a2d;
}

.toggle-window-button .input:active {
  background-color: #121a2d;
}

.direct-messages-header {
  margin-left: 12px;
  margin-bottom: 3px;
  margin-top: 12px;
  font-size: 11px;
}

.side-bar {
  overflow: auto;
  height: 92%;
  width: 200px;
}

.direct-messages-header {
  color: #294255;
}

.empty-friend-message {
  color: #72767c;
}

.friend-requests-header {
  color: #fcfcfc;
}

.partner-tab {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  border-style: solid;
  border-width: 0;
  border-top-width: 1px;
  border-color: #171d27;
  border-radius: 0;
  transition: opacity ease 0.3s;
}

.partner-tab:hover {
  border-color: #171d27;
  opacity: 0.6;
}

.partner-tab:focus {
    outline: none;
}

.partner-tab .photo {
  width: 35px;
  /*height: 48px;*/
  aspect-ratio: 1/1;
  border-radius: 50%;
  object-fit: cover;
}

.partner-tab .info-container {
  display: inline-block;
  text-align: start;
  width: 100px;
  margin-left: 8px;
}

.partner-tab .info-container .name {
  display: block;
  font-size: 11.5px;
  color: #fcfcfc;
}

.partner-tab .info-container .last-message {
  font-size: 11px;
  font-weight: 400;
}

.partner-tab .unread-icon-container {
  position: relative;
  color: rgba(189, 189, 189, 0.31);
}

.partner-tab .bi {
  position: relative;
  font-size: 13px;
  color: #b3b3b3;
}

.partner-tab .unread-count {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -2px;
  left: 9px;
  font-size: 8px;
  color: white;
  min-width: 9px;
  height: 9px;
  padding-right: 1px;
  padding-left: 1px;
  border-radius: 2px;
  background-color: #5542f6;
}

.chatWindow-container {
  /*background-color: #f8f9fd;*/
  border-width: 0;
  border-left-width: 1px;
  border-right-width: 1px;
  border-style: solid;
  border-color: #171d27;
  width: 100%;
  display: flex;
  flex-direction: column;
  min-width: 350px;
}

.recipient-bar {
  border-width: 0;
  border-bottom-width: 1px;
  border-top-width: 1px;
  border-style: solid;
  font-weight: 500;
  font-size: 15px;
  border-color: #171d27;
  padding-left: 18px;
  height: 6%;
  min-height: 50px;
  display: flex;
  align-items: center;
  color: #fcfcfc;
  /*background-color: white;*/
}

.chat-window {
  height: 84%;
  display: flex;
  flex-direction: column-reverse;
  overflow: auto;
  /*background-image: url('/src/assets/background-green-mountains-landscape-illustration.jpg');*/
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.chat-box-received {
  display: flex;
  max-width: 75%;
  margin: 5px;
  border-radius: 8px;
  padding: 10px;
  color: #294255;
}

.chat-box-received .photo-container {
  margin-right: 15px;
}

.chat-box-received .photo {
  height: 48px;
  width: 48px;
  border-radius: 50%;
  object-fit: cover;
}

.chat-box-received .message-container {
  display: flex;
  margin-top: 24px;
  flex-direction: column;
  border-radius: 4px;
  align-items: flex-start;
}

.chat-box-received .message-container .text {
  background-color: #161b26;
  color: #95969d;
  border-radius: 4px;
  padding: 10px;
  padding-top: 6px;
  padding-bottom: 6px;
  margin-bottom: 5px;
}

.chat-box-received .message-container .date {
  font-size: 10px;
  align-self: flex-start;
  color: #95969d;
}

.chat-box-sent .message-container .date {
  /*color: black;*/
  color: #95969d;
}


.chat-box-sent {
  display: flex;
  align-self: flex-end;
  max-width: 75%;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: -5px;
}

.chat-box-sent .message-container {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  border-radius: 4px;
}

.chat-box-sent .message-container .text {
  color: #fcfcfc;
  /*background-image: linear-gradient(310deg, #a663ea, #17c1e8);*/
  background-color: #5542f6;
  border-radius: 4px;
  padding: 10px;
  padding-top: 6px;
  padding-bottom: 6px;
  margin-bottom: 5px;
}

.chat-box-sent .message-container .date {
  font-size: 10px;
  margin-top: -3px;
  align-self: flex-end;
}

.message-bar {
  border-top-style: solid;
  border-color: #171d27;
  border-width: 1px;
  height: 70px;
  width: 100%;
  display: flex;
}

.message-bar .text-input {
  width: 100%;
  height: 55%;
  border-style: solid;
  border-width: 2px;
  border-radius: 8px;
  border-color: #2b2f3a;
  background-color: #161b26;
  font-family: "Roboto", sans-serif;
  opacity: 0.6;
  outline: none;
  align-self: center;
  /*text-align: center;*/
  margin-left: 18px;
}

.message-bar .text-input::placeholder {
  color: #a5a5ab;
  /*padding-left: 10px;*/
}

.message-bar input{
  color: #a5a5ab;
  padding-left: 10px;
}

.message-bar .send-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #5542f6;
  transition: background-color 0.3s ease;
  margin-left: 8px;
  margin-right: 18px;
  border-radius: 8px;
  width: 10px;
  height: 38px;
  text-align: center;
  align-self: center;
  outline: none;
}

.message-bar .send-button:hover {
  background-color: #5542f6;
}

.message-bar .send-button:active {
  opacity: 0.8;
}

.message-bar .send-button .bi {
  color: #f8f9fd;
}

.account-panel {
  width: 350px;
  flex-grow: 0;
  flex-shrink: 0;
  /*background-color: white;*/
  display: flex;
  flex-direction: column;
  align-items: center;
  scroll-behavior: auto;
}

.account-panel .photo {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  margin-top: 50px;
  object-fit: cover;
}

.account-panel .credentials {
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.account-panel .credentials .name {
  margin-top: 8px;
  margin-bottom: -3px;
  color: #fcfcfc;
}

.account-panel .credentials .userID {
  margin: 0;
  color: #95969d;
}

.account-panel .member-since-container {
  color: black;
  margin-top: 8px;
  background-color: #161b26;
  border-style: solid;
  border-width: 2px;
  border-color: #2b2f3a;
  border-radius: 8px;
  width: 90%;
  padding: 8px;
}

.account-panel .member-since-container .header {
  font-size: 13px;
  padding-bottom: 4px;
  margin: 0;
  color: #fcfcfc;
}

.account-panel .member-since-container .date {
  font-size: 13px;
  margin: 0;
  color: #a5a5ab;
}

.account-panel .logout-button-container {
  margin-top: auto;
  margin-bottom: 10px;
  width: 90%;
}

.account-panel .logout-button {
  background-color: inherit;
  color: #a5a5ab;
  border-style: solid;
  border-width: 1px;
  border-color: #262a34;
  float: right;
  outline: none;
  transition: background-color 0.3s;
}

.account-panel .logout-button:hover {
  background-color: #121a2d;
}

.account-panel .logout-button:active {
  background-color: #121a2d;
}

.options-container {
  margin-top: 8px;
  background-color: #161b26;
  border-style: solid;
  border-width: 2px;
  border-color: #2b2f3a;
  color: #a5a5ab;
  border-radius: 8px;
  width: 90%;
}

.options-container .header {
  font-size: 13px;
  padding: 6px;
  padding-bottom: 4px;
  margin: 0;
  color: #fcfcfc;
}

.options-container .text {
  margin: 0;
  padding: 6px;
  padding-left: 0;
  font-size: 13px;
}

.options-container .profile-picture {
  display: flex;
  align-items: center;
  padding: 6px;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  margin-left: 2px;
}

.options-container .displayname {
  display: flex;
  align-items: center;
  padding: 6px;
  padding-top: 0;
  padding-bottom: 2px;
  padding-left: 0;
  margin-left: 2px;
}

.options-container .displayname .bi,
.options-container .profile-picture .bi,
.options-container .delete-account .bi {
  /*margin-right: auto;*/
  background: none;
  border: none;
  padding: 0;
  color: inherit;
  font: inherit;
  text-align: inherit;
  text-decoration: none;
  cursor: pointer;
  outline: none;
}

.options-container .edit-displayname {
  display: flex;
  padding: 6px;
  padding-top: 0;
}

.options-container .edit-displayname .input {
  color: #72767c;
}

.options-container .edit-profile-picture {
  padding: 0;
  margin-top: -6px;
  color: #72767c;
}

.options-container .edit-profile-picture .input::file-selector-button {
  background-color: inherit;
  color: #72767c;
  border-style: solid;
  border-width: 2px;
  border-color: #2b2f3a;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.options-container .edit-profile-picture .input::file-selector-button:hover {
  background-color: #121a2d;
  cursor: pointer;
}

.options-container .password-prompt {
  display: flex;
  padding: 6px;
  padding-top: 0;
  padding-bottom: 8px;
  margin-top: -2px;
}

.options-container .input {
  border-radius: 2px;
  border: none;
  margin-right: 5px;
  outline: none;
  padding: 6px;
}

.options-container .edit-displayname .input {
  background-color: inherit;
  border-style: solid;
  border-width: 2px;
  border-radius: 4px;
  border-color: #2b2f3a;
}

.options-container .password-prompt .input {
  background-color: inherit;
  border-style: solid;
  border-width: 2px;
  border-radius: 4px;
  border-color: #2b2f3a;
  color: #72767c;
}

.options-container .password-prompt .submit {
  /*background-color: red;*/
  background: rgba(85, 66, 246, 0.18);
  width: 60px;
}

.options-container .password-prompt .submit:hover {
  /*background-color: #eb0404;*/
  background: rgba(85, 66, 246, 0.18);
}

.options-container .password-prompt .submit:active {
  /*background-color: #c70606;*/
  background: rgba(85, 66, 246, 0.18);
}

.options-container .submit {
  background-color: #5542f6;
  font-size: 12px;
  color: #eeeeee;
  padding: 6px;
  width: 40px;
  border-radius: 3px;
  outline: none;
  transition: background-color 0.3s;
}

.options-container .submit:hover {
  background-color: #5c49fe;
  outline: none;
  border: none;
}

.options-container .submit:active {
  background-color: #705fff;
}

.options-container .delete-account {
  display: flex;
  align-items: center;
  padding: 6px;
  padding-top: 2px;
  padding-left: 0;
  margin-left: 2px;
}

.options-container .displayname .text {
  margin: 0;
  padding: 0;
}

.options-container .delete-account .text {
  margin: 0;
  padding: 0;
}

.options-container .profile-photo .text {
  margin: 0;
  padding: 0;
}

.login-flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('/src/assets/blue background app.jpg');
}

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 350px;
  border-radius: 15px;
  background-color: rgba(5, 10, 17, 0.89);
  border-style: solid;
  border-width: 2px;
  border-color: #2b2f3a;
  /*border-radius: 8px;*/
  z-index: 2;
}

.login-container h2 {
  color: white;
}

form {
  display: flex;
  flex-direction: column;;
  justify-content: space-between;
  height: 120px;
  width: 250px;
}

form .input-container {
  display: flex;
  width: 80%;
  justify-content: center;
  align-self: center;
}

form .input-container .icon-container {
  display: flex;
  align-items: center;
  width: 12%;
  height: 100%;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  background: inherit;
  color: black;
  padding-left: 5px;
  border-style: solid;
  border-width: 2px;
  border-color: #2b2f3a;
  border-right-width: 0;
}

form .input-container i {
  font-size: 19px;
  height: 28px;
  color: #a5a5ab;
}

form .input-container input {
  width: 90%;
  outline: none;
  background: inherit;
  box-shadow: none;
  padding: 6px;
  margin: 0;
  font: inherit;
  font-size: 14px;
  color: #a5a5ab;
  border-style: solid;
  border-width: 2px;
  border-color: #2b2f3a;
  border-left-width: 0;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

form .input-container input::placeholder {
  color: #a5a5ab;
}

.login-container .login-button {
  background: #5542f6;
  width: 90px;
  align-self: center;
  border: none;
  border-radius: 10px;
  padding: 8px;
  margin: 0;
  outline: none;
  box-shadow: 2px 5px 6px rgba(0, 0, 0, 0.1),
  0 1px 3px rgba(0, 0, 0, 0.08);
  color: inherit;
  font: inherit;
  font-size: 12px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-container .login-button:hover {
  background: #5f4df5;
  box-shadow: 2px 6px 8px rgba(0, 0, 0, 0.15),
  0 2px 4px rgba(0, 0, 0, 0.1);
}

.login-container .login-button:active {
  background: #6e5ff4;
  box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.2);
  transform: translateY(2px);
}

.login-flex-container .freepik-attribution {
  align-self: flex-end;
  justify-self: flex-end;
  position: absolute;
  right: 15px;
  font-size: 8px;
  color: rgba(255, 255, 255, 0.33);
}

.register-paragraph {
  color: #a5a5ab;
  font-size: 14px;
}

.register-paragraph span {
  color: #005bee;
  cursor: pointer;
}

.guest-paragraph {
  margin-top: -12px;
  color: #a5a5ab;
  /*font-size: 14px;*/
  font-size: 10px;
}

.guest-paragraph span {
  color: #005bee;
  cursor: pointer;
}

.register-flex-container {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  background-image: url('/src/assets/blue background app.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow-y: scroll;
}

.register-header {
  color: white;
}

.register-container {
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  width: 400px;
  height: 650px;
  align-items: center;
  justify-content: center;
  background-color: rgba(5, 10, 17, 0.89);
  border-style: solid;
  border-width: 2px;
  border-color: #2b2f3a;
  /*background: linear-gradient(to bottom, #f0f0f0, #ffffff);*/
}

.register-container form {
  display: flex;
  width: 300px;
  height: 400px;
  color: #a5a5ab;
}

.register-container label {
  /*margin-bottom: -20px;*/
  font-size: 14px;
}

.register-container form input {
  border-style: solid;
  border-width: 2px;
  border-color: #2b2f3a;
  border-radius: 6px;
  outline: none;
  background: inherit;
  box-shadow: none;
  padding: 6px;
  /*margin: 0;*/
  font: inherit;
  font-size: 14px;
  color: #a5a5ab;
  width: 100%;
}

.register-container .input-container {
  display: block;
  width: 100%;
}

.register-container form button {
  width: inherit;
  align-self: center;
  border: none;
  border-radius: 8px;
  padding: 8px;
  margin-top: 15px;
  /*margin: 0;*/
  outline: none;
  box-shadow: 2px 5px 6px rgba(0, 0, 0, 0.1),
  0 1px 3px rgba(0, 0, 0, 0.08);
  color: whitesmoke;
  font: inherit;
  font-size: 12px;
  /*transition: background-color 0.3s ease;*/
}

.register-container form button.disabled {
  background: rgba(128, 128, 128, 0.58);
  cursor: initial;
}

.register-container form button.enabled {
  background: #5542f6;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.register-container form button.enabled:hover {
  background: #5542f6;
  box-shadow: 2px 6px 8px rgba(0, 0, 0, 0.15),
  0 2px 4px rgba(0, 0, 0, 0.1);
}

.register-container form button.enabled:active {
  background: #5542f6;
  box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.2);
  transform: translateY(2px);
}

.register-container .validation-message {
  color: red;
  font-size: 12px;
}

.login-paragraph {
  color: #005bee;
  cursor: pointer;
  font-size: 14px;
  width: 300px;
}

.mobile-top-nav {
  display: none;
}

.close-chatwindow-button {
  display: none;
}

.user-status {
  border-radius: 50%;
  border-style: solid;
  border-color: #0c111d;
  width: 16px;
  height: 16px;
  position: relative;
  right: 16px;
  top: 16px;
}

.disconnected-pop-up {
  color: #737373;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.partner-tab .user-status {
  width: 12px;
  height: 12px;
  position: relative;
  right: 14px;
  top: 13px;
  border-width: 2px;
}

@media (max-width: 1000px) {
  .account-panel {
    display: none;
  }
}

@media (max-width: 480px) {
  .account-panel{
    width: 100%;
  }

  .test123 {
    min-width: 0;
  }
  .top-navigation-container {
    min-width: 0;
  }
  .top-navigation-container .line {
    display: none;
  }
  .top-navigation-container .title {
    display: none;
  }
  .topnav {
    justify-content: center;
  }
  .close-chatwindow-button {
    display: flex;
    position: absolute;
    right: 0;
    width: 60px;
    justify-content: center;
    align-content: center;
    background: inherit;
    border-style: solid;
    border-width: 2px;
    border-color: #2b2f3a;
    color: #72767c;
  }
  .friend-container {
    width: 100%;
    min-width: 0;
  }
  .sidebar-container {
    display: none;
    flex: 1;
  }
  .partner-search-bar {
    width: 100%;
  }

  .toggle-window-button {
    display: none;
  }

  .side-bar {
    width: 100%;
  }

  .partner-tab {
    justify-content: flex-start;
  }

  .partner-tab .user-status {
    width: 10px;
    height: 10px;
    right: 12px;
  }

  .app-container {
    padding-top: 45px;
  }

  .mobile-top-nav {
    position: fixed;
    top: 0;
    left: 0;
    font-size: 12px;
    height: 50px;
    width: 100%;
    background-color: #fff;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    padding-right: 15px;
    padding-left: 15px;
    margin-bottom: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }

  .mobile-top-nav button {
    background: inherit;
  }
}

/*https://css-loaders.com/spinner/#l26*/
.loader {
  position: relative;
  top: 2px;
  left: 2px;
  width: 14px;
  aspect-ratio: 1;
  display:inline-grid;
  -webkit-mask: conic-gradient(from 15deg,#0000,#000);
  animation: l26 1s infinite steps(12);
}
.loader,
.loader:before,
.loader:after{
  background:
          radial-gradient(closest-side at 50% 12.5%,
          #3375f0 96%,#0000) 50% 0/20% 80% repeat-y,
          radial-gradient(closest-side at 12.5% 50%,
          #3375f0 96%,#0000) 0 50%/80% 20% repeat-x;
}
.loader:before,
.loader:after {
  content: "";
  grid-area: 1/1;
  transform: rotate(30deg);
}
.loader:after {
  transform: rotate(60deg);
}

@keyframes l26 {
  100% {transform:rotate(1turn)}
}