#root {
  /*max-width: 1280px;*/
  overflow: hidden;
  /*margin: 0 auto;*/
  /*padding: 2rem;*/
  /*text-align: center;*/
}

.app-container {
  background-color: #242424;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: stretch;
}

.sidebar-container {
  background-color: white;
  height: 100%;
  flex: 0 0 200px;
  display: flex;
  flex-direction: column;
}

.search-bar {
  border-width: 2px;
  border-left-width: 0;
  border-right-width: 0;
  border-style: solid;
  min-height: 50px;
  height: 8%;
  width: 100%;
  display: flex;
}

/* bootstrap search icon */
.search-bar .bi.bi-search {
  font-size: 15px;
  color: dimgray;
  align-content: center;
  text-align: center;
  position: relative;
  left: 5px;
  width: 30%;
}

.search-bar .input {
  align-content: center;
  outline: none;
  border: none;
  width: 70%;
}

.side-bar {
  overflow: auto;
  height: 92%;
}

.contact-tab {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-style: solid;
  border-width: 0;
  border-bottom-width: 2px;
}

.contact-tab .photo {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

.contact-tab .info-container {
  display: flex;
  flex-direction: column;
}

.contact-tab .info-container .name {

}

.contact-tab .info-container .last-message {

}

.chatWindow-container {
  background-color: #f2f2f2;
  border-width: 0;
  border-left-width: 2px;
  border-style: solid;
  width: 100%;
  display: flex;
  flex-direction: column;
  min-width: 350px;
}

.recipient-bar {
  border-width: 0;
  border-bottom-width: 2px;
  border-top-width: 2px;
  border-style: solid;
  height: 8%;
  min-height: 50px;
  display: flex;
  align-items: center;
  padding-left: 1%;
}

.chat-window {
  height: 84%;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.chat-box-received {
  display: flex;
  max-width: 75%;
  margin: 5px;
  border-radius: 8px;
  padding: 10px;
}

.chat-box-received .photo-container {
  margin-right: 15px;
}

.chat-box-received .photo {
  width: 48px;
  border-radius: 50%;
}

.chat-box-received .message-container {
  display: flex;
  margin-top: 24px;
  flex-direction: column;
  border-radius: 4px;
}

.chat-box-received .message-container .text {
  background-color: white;
  border-radius: 4px;
  padding: 10px;
  padding-top: 6px;
  padding-bottom: 6px;
}

.chat-box-received .message-container .date {
  font-size: 10px;
  margin-top: 1px;
  align-self: flex-start;
}


.chat-box-sent {
  display: flex;
  align-self: flex-end;
  max-width: 75%;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: -20px;
}

.chat-box-sent .message-container {
  display: flex;
  flex-direction: column;
  border-radius: 4px;
}

.chat-box-sent .message-container .text {
  color: #ffffff;
  background-image: linear-gradient(310deg, #a663ea, #17c1e8);
  border-radius: 4px;
  padding: 10px;
  padding-top: 6px;
  padding-bottom: 6px;
}

.chat-box-sent .message-container .date {
  font-size: 10px;
  margin-top: 1px;
  align-self: flex-start;
}

.message-bar {
  outline: 2px solid black;
  min-height: 50px;
  height: 8%;
  width: 100%;
  display: flex;
}

.message-bar .text-input {
  width: 100%;
  border:  none;
  /*background-color: #f8f9fd;*/
  background-color: #f2f2f2;
  outline: none;
  align-content: center;
  padding-left: 1%;
}

.message-bar .send-button {
  background-color: #159059;
  margin: 1%;
  border-radius: 50%;
  font-size: 8px;
  text-align: center;
  align-self: center;
  outline: none;
}

.message-bar .send-button:hover {
  background-color: #157347;
  box-shadow: 0 2px 5px 0 rgba(13, 13, 13, 0.24), 0 17px 50px 0 rgba(39, 39, 39, 0.19);
}

.message-bar .send-button:active {
  opacity: 0.8;
  font-size: 7px;
}

/* bootstrap icon */
.message-bar .send-button .bi {
  font-size: 20px;
  color: whitesmoke;
}