#root {
  /*max-width: 1280px;*/
  overflow: hidden;
  /*margin: 0 auto;*/
  /*padding: 2rem;*/
  /*text-align: center;*/
}

.app-container {
  background-color: #242424;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: stretch;
}

.sidebar-container {
  background-color: white;
  height: 100%;
  flex: 0 0 200px;
  display: flex;
  flex-direction: column;
}

.search-bar {
  border-width: 2px;
  border-left-width: 0;
  border-right-width: 0;
  border-style: solid;
  min-height: 50px;
  height: 8%;
  width: 100%;
  display: flex;
}

/* bootstrap search icon */
.search-bar .bi.bi-search {
  font-size: 15px;
  color: dimgray;
  align-content: center;
  text-align: center;
  position: relative;
  left: 5px;
  width: 30%;
}

.search-bar .input {
  align-content: center;
  outline: none;
  border: none;
  width: 70%;
}

.side-bar {
  overflow: auto;
  height: 92%;
}

.chatWindow-container {
  background-color: #f8f9fd;
  border-width: 0;
  border-left-width: 2px;
  border-style: solid;
  width: 100%;
  display: flex;
  flex-direction: column;
  min-width: 350px;
}

.recipient-bar {
  border-width: 0;
  border-bottom-width: 2px;
  border-top-width: 2px;
  border-style: solid;
  height: 8%;
  min-height: 50px;
  display: flex;
  align-items: center;
  padding-left: 1%;
}

.chat-window {
  height: 84%;
  overflow: auto;
}

.message-bar {
  outline: 2px solid black;
  min-height: 50px;
  height: 8%;
  width: 100%;
  display: flex;
}

.message-bar .text-input {
  width: 100%;
  border:  none;
  background-color: #f8f9fd;
  outline: none;
  align-content: center;
  padding-left: 1%;
}

.message-bar .send-button {
  background-color: #159059;
  margin: 1%;
  border-radius: 50%;
  font-size: 8px;
  text-align: center;
  align-self: center;
  outline: none;
}

.message-bar .send-button:hover {
  background-color: #157347;
  box-shadow: 0 2px 5px 0 rgba(13, 13, 13, 0.24), 0 17px 50px 0 rgba(39, 39, 39, 0.19);
}

.message-bar .send-button:active {
  opacity: 0.8;
  font-size: 7px;
}

/* bootstrap icon */
.message-bar .send-button .bi {
  font-size: 20px;
  color: whitesmoke;
}
